*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.container{
    max-width: 50%;
    background-color: white;
    padding: 34px;  
    margin: auto;
    border: 4px solid #109361;
    box-shadow: 7px 7px #cefffb;
    margin-top: 69px;
}

.container h1{
    text-align: center;
}

input{
    width: 80%;
    margin: 11px auto;
    padding: 7px;
    font-size: 18px;
    border-radius: 20px;
    border-color: green;
}

h1{
    font-size: 55px;
    color: #00aa9a;
    text-shadow: 3px 3px #b6fa888c;
    margin-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 30px;
}

form{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.btn{
    width: 30%;
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 22px;
    border-radius: 20px;
    cursor: pointer;
}

p{
    text-align: center;
    font-size: 25px;
}

a{
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}
